{% include 'OwbazSiteBundle::top_navigation.html.twig' %}

<a href="{{ path('owbaz_new_employer') }}"> Employer Register </a> <br />
<a href="{{ path('owbaz_user_jobseeker_new') }}"> Jobseeker Register </a>


<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

{% include 'OwbazSiteBundle::bottom_navigation.html.twig' %}